/* Questions */
/* How do i get the stats panel to show on the right of the main display?
*/

body {
  font-family: 'Press Start 2P', cursive;
  background-color: lightgreen;
  background-image: url("http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/b995481ee80c803.png");
  background-size: 10%;
  background-repeat: repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  order: 1;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.display-panels{
  order: 2;
  width: 1100px;
  flex-direction: row;
  margin: 10px;
  /* these dont do anything */
  /* justify-content: center;
  align-items: center;
  align-content: center; */
}

.main-display {
  background-color: white;
  width: 800px;
  height: 600px;
  align-self: flex-start;
  border-radius: 20px;
  border: 5px solid black;
  float: left;
}

.stats-panel {
  background-color: white;
  width: 250px;
  height: 350px;
  align-self: flex-end;
  border-radius: 20px;
  border: 5px solid black;
  float: right;
  margin-bottom: 10px;
  /* this is only here to center the stats bar above the button bar */
  margin-right: 10px;
}

#reset-btn{
  font-family: 'Press Start 2P', cursive;
}

.button-panel {
  order: 3;
  background-color: white;
  width: 250px;
  float: right;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid black;
}

.interaction-button {
  border: 2px solid black;
}

#feed-btn {
  font-family: 'Press Start 2P', cursive;
}

#play-btn {
  font-family: 'Press Start 2P', cursive;
}

#nap-btn {
  font-family: 'Press Start 2P', cursive;
  border: 2px solid black;
}

