/* Questions */
/* How do i get the stats panel to show on the right of the main display?
*/

body {
  font-family: 'Press Start 2P', cursive;
  background-color: slategrey;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  order: 1;
}

.display-panels{
  order: 2;
  /* flex-direction: row; 
  WHY DOES THIS NOT WORK???? I want to take this display-panels div and convert it's flex direction to row but it will not work  
  */
}

.main-display {
  background-color: black;
  width: 800px;
  height: 600px;
  align-self: flex-start;
  border-radius: 20px;
}

.stats-panel {
  background-color: black;
  width: 200px;
  height: 300px;
  align-self: flex-end;
  border-radius: 20px;
}

#reset-btn{
  font-family: 'Press Start 2P', cursive;
}

.button-panel {
  order: 3;
}

.interaction-button {
  
}

#feed-btn {
  font-family: 'Press Start 2P', cursive;
}

#play-btn {
  font-family: 'Press Start 2P', cursive;
}

#nap-btn {
  font-family: 'Press Start 2P', cursive;
}

